.container.mt-4 {
    margin-top: 50px;
    margin-left: 250px;
    /* Add a left margin equal to the sidebar's width */
    width: calc(100% - 250px);
    /* Space calculation for the content area */
    z-index: 1030;
}