<div class="container">
    <div class="top-sidebar">
        <span class="sidebar-toggle" (click)="toggleSidebar()">&#9776;</span>
        <span class="website-name" style="font-size: 15px;">Gruppie Connect</span>
        <!-- <span class="logo">
            <img src=".src/assets/images/2.png" alt="not displaying">
        </span> -->
    </div>

    <!-- Sidebar -->
    <div class="sidebar" [ngClass]="{'sidebar-collapsed': isSidebarCollapsed}">
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/home" routerLinkActive="active">Dasboard</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/about" routerLinkActive="active">Daily Activity</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/services" routerLinkActive="active">Admin</a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/contact" routerLinkActive="active">Accounting</a>
            </li>
        </ul>
    </div>