.sidebar {
    position: fixed;
    /* Stay in place */
    top: 0px;
    left: 0;
    padding-top: 20px;
    /* Space at the top */
    color: white;
    /* Text color */
    box-shadow: 2px 0 5px #9cb0c4;
    /* Subtle shadow */
    width: 200px;
    /* Width of the sidebar */
    background-color: #f3f5f7;
    /* Sidebar background color */
    overflow-y: auto;
    /* Allow scrolling if content overflows */
    position: fixed;
    height: calc(100vh);
}
.sidebar-content{
     display: flex;
        flex-direction: column;

        /* Vertically align items in the center */
      }


.sidebar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 20px;
    /* Space around the brand */
    text-decoration: none;
    /* Remove underline */
    color: #f8c291;
    /* Brand color */
}

.sidebar-nav {
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove padding */
}

.sidebar-item {
    padding: 10px 20px;
    /* Space around items */
    margin-bottom: 20px;
}

.sidebar-link {
    color: #070707;
    /* Light gray color */
    text-decoration: none;
    /* Remove underline */
    display: block;
    /* Full width */
    transition: color 0.3s;
    /* Smooth color change */   
}

.sidebar-link:hover {
    color: #f8c291;
    /* Change color on hover */
}

.sidebar-link.active {
    font-weight: bold;
    /* Make active link bold */
    color: #f8c291;
    /* Active link color */
}