<div class="sidebar">
   <div class="sidebar-content">
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/" routerLinkActive="active">Dasboard</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/about" routerLinkActive="active">Daily Activity</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/services" routerLinkActive="active">Admin</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/contact" routerLinkActive="active">Accounting</a>
        </li>
    </ul>
</div>
</div>